<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <a href="/" class="btn btn-success">All Articles</a>
        <a href="/article/edit/<%=article.slug%>" class="btn btn-info my-3">Edit</a>
        <h1><%= article.title%></h1>
        <small class="text-muted my-0"><%= article.time %></small>
        <p class="my-3"><%- article.sanitizedHtml %> </p>
    </div>
</body>

</html>